$background1: rgb(44, 45, 53);
$foreground1: rgb(233, 203, 203);
$background2: rgb(38, 47, 117);
$foreground2: rgb(138, 120, 120);

#container {
    max-width: 850px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;

    .headerbox {
        background-color: $background1;
        color: $foreground1;

        #navbar {
            ul {
                margin: 0;
                padding: 0;
                list-style: none;
            }

            li {
                display: inline-block;
            }

            a {
                display: block;
                text-decoration: none;
            }
        }

        #titlebar {
            text-decoration: underline;
            transition: transform 250ms;
        }

        #titlebar:hover {
            transform: scale(1.2);
        }

        #subtitlebar {
            text-emphasis-style: 'x';
            text-emphasis-position: under;
        }
    }

    .contentbox {
        background-color: $background2;
        color: $foreground2;
    }
}