$base: #191724;
$surface: #1f1d2e;
$overlay: #26233a;
$muted: #6e6a86;
$subtle: #908caa;
$text: #e0def4;
$love: #eb6f92;
$gold: #f6c177;
$rose: #ebbcba;
$pine: #31748f;
$foam: #9ccfd8;
$iris: #c4a7e7;
$highlightLow: #21202e;
$highlightMed: #403d52;
$highlightHigh: #524f67;

* {
    background-color: $base;
}

#container {
    max-width: 850px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;

    .headerbox {
        background-color: $surface;
        color: $text;

        #navbar {
            ul {
                margin: 0;
                padding: 0;
                list-style: none;
            }

            li {
                display: inline-block;
            }

            a {
                color: $iris;
                display: block;
                text-decoration: none;
                transition: transform 250ms;
            }

            a:hover {
                transform: skew(-0.06turn, 18deg);
            }
        }

        #titlebar {
            transition: transform 250ms;
        }

        #titlebar:hover {
            transform: scale(1.2);
        }

        #subtitlebar {
            transition: transform 250ms;
        }

        #subtitlebar:hover {
            transform: scale(1.1);
        }
    }

    .contentbox {
        background-color: $surface;
        color: $text;
    }
}