<title>{{ config.title }} - 404 Not Found</title>

<div id="pagebar">
    <h1 class="pagetitle">404 Not Found</h1>
  </div>

  <div id="content">
    <p>...How'd you get here?</p>
    <p>If you followed a link you thought would work, please consider raising an issue on the <a href="https://github.com/SonarMonkey/ephemera.nexus/issues">GitHub for this site</a> so that I can fix it!</p>
    <p>If you're here on purpose, uhh. Here's a lil guy I guess?</p>
    <img src="{{ config.base_url }}/images/goo_ball.webp" alt="A goo ball from the game World of Goo by 2D Boy">
  </div>