<!doctype html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta content="IE=edge" http-equiv="X-UA-Compatible" />
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" />
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <link rel="stylesheet" href="{{ get_url(path='style.css', trailing_slash=false) | safe }}" />
  <link rel="icon" type="image/x-icon" href="{{ get_url(path='favicon.ico', trailing_slash=false) | safe }}" />
  {% block head %}{% endblock head %}
</head>

<body>
  <div id="container">
    <div class="headerbox">
      <header>
        {% if page.title %}
        {% set path = page.components %}
        {% elif section.title %}
        {% set path = section.components %}
        {% endif %}
        <div id="crumbbar">
          <p class="breadcrumbs">
            / <a href="{{ get_url(path='@/_index.md') }}">home</a>
            {% set cur = "/" %}
            {% for elt in path %}
            {% set_global cur = cur ~ elt ~ "/" %}
            / <a href="{{cur}}">{{ elt }}</a>
            {% endfor %}
          </p>
        </div>
        <div id="titlebar">
          <h1 class="title">
            <a href="{{ get_url(path='@/_index.md') }}">{{config.title}}</a>
          </h1>
          <p class="subtitle"><em>{{ config.description }}</em></p>
        </div>
        <div id="navbar">
          <nav>
            <ul>
              {% for link in config.extra.nav.link %}
              <li>
                <a href="{{ get_url(path=link.path) }}">{{link.name}}</a>
              </li>
              {% endfor %}
            </ul>
          </nav>
        </div>
      </header>
    </div>
    <div class="contentbox">
      <main>{% block content %}{% endblock content %}<br></main>
    </div>
    <div class="badges">
      <aside>
        <p id="badgelist">
          <img src="https://ephemera.nexus/badges/cssdif.gif" alt="css is difficult" />
          <img src="https://ephemera.nexus/badges/bookmark_this_page.gif" alt="bookmark this page" />
          <img src="https://ephemera.nexus/badges/dark-mode.png" alt="made for dark mode" />
          <img src="https://ephemera.nexus/badges/frames-suck.png" alt="iframes suck" />
          <img src="https://ephemera.nexus/badges/javascript-zero.png" alt="proudly 98% javascript-free" />
          <a href="https://yesterweb.org/no-to-web3/"><img src="https://ephemera.nexus/badges/keep.webp"
              alt="say no to web3" /></a>
          <img src="https://ephemera.nexus/badges/mobilefriendly.png" alt="mobile friendly site" />
          <a href="https://seirdy.one/meta/badges/"><img src="https://ephemera.nexus/badges/seirdyone.gif"
              alt="seirdy.one’s badges" /></a>
        </p>
      </aside>
    </div>
    <div class="webrings">
      <aside>
        <p id="ringnav">
          <a href="https://friday-girl.neocities.org/bruhzone/webring.html?prev">← Previous Site</a>
          <a href="https://friday-girl.neocities.org/bruhzone/">Bruh Zone Webring</a>
          <a href="https://friday-girl.neocities.org/bruhzone/webring.html?next">Next Site →</a>
        </p>
      </aside>
    </div>
    <div class="footerbox">
      <footer>
        <p>
          Site built with <a href="https://www.getzola.org">Zola</a> using the
          excellent <a href="https://rosepinetheme.com/">Rosé Pine</a> theme.
          &copy; 2024 SonarMonkey unless otherwise specified.
        </p>
      </footer>
    </div>
  </div>
</body>

</html>