{% extends "base.html" %}

{% block head %}
<title>{{ config.title }} - {{ section.title }}</title>
{% endblock head %}

{% block content %}
<div id="pagebar">
  <h1 class="pagetitle">{{ section.title }}</h1>
  <p class="pagedesc"><em>{{ section.description }}</em></p>
</div>

<div id="content">
  {{ section.content | safe }}

  <ul class="sectionlist">
    {% for page in section.pages %}
    <li><a href="{{ page.permalink | safe }}">{{ page.title }} - {{ page.date }} <br><em>{{ page.description }}</em></a></li>
    {% endfor %}
  </ul>

{% endblock content %}
